
///////////////////////////////////////////////////////////////
// footer
///////////////////////////////////////////////////////////////

$bg-footer: $color-light;

footer {
	margin-top: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: $bg-footer;
	padding: 20px;
	text-align: center;
	.social {
		display: flex;
		a {
			display: block;
			width: 45px;
			height: 45px;
			margin: 0px 10px;
			flex-shrink: 0;
			opacity: 0.7;
		}
	}
	p {
		margin: 10px;
	}
}

.social {
	&-vk { @include img-contain-center; background-image: url(../img/social/vk.svg); }
	&-fb { @include img-contain-center; background-image: url(../img/social/fb.svg); }
	&-ok { @include img-contain-center; background-image: url(../img/social/ok.svg); }
}