
///////////////////////////////////////////////////////////////
// header
///////////////////////////////////////////////////////////////

$indent-header:   10px;
$h-header:        63px;
$h-touch-line:    $indent-header/2.5;
$p1-touch-line:   $indent-header*1.5;
$p2-touch-line:   5px;
$touch-transform: ($h-header - $p1-touch-line*2) / 2 - $h-touch-line/2;
$indent-content:  10px;

$bg-header: $color-light;
$bg-menu-touch: grey;

.header-menu-container {
	position: sticky;
	z-index: 2;
	top: 0;
	background: $bg-header;
	min-height: $h-header;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.header-menu {
	margin-left: auto;
	ul {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
	}
	a {
		display: flex;
		align-items: center;
		height: $h-header;
		padding: 0 25px;
		transition: 0.4s;
		color: inherit;
		font-family: $ffamily-content;
		user-select: none;
		justify-content: center;
		&:hover, &.active {
			opacity: 0.4;
		}
	}
}


///////////////////////////////////////////////////////////////
// header-menu-touch
///////////////////////////////////////////////////////////////
.header-menu-touch {
	width: $h-header - 5;
	height: $h-header;
	display: none;
	align-content: space-between;
	flex-wrap: wrap;
	cursor: pointer;
	padding: $p1-touch-line $p2-touch-line;
	position: absolute;
	top: 1px;
	right: 15px;
}
.header-menu-touch span {
	display: block;
	width: 100%;
	height: $h-touch-line;
	background: $bg-menu-touch;
	opacity: 0.7;
	border-radius: $indent-header;
	transition: 0.4s;
}
.open.header-menu-touch > span:nth-child(1) {
	transform: translateY($touch-transform) rotate(-45deg);
}
.open.header-menu-touch > span:nth-child(3) {
	transform: translateY(-$touch-transform) rotate(45deg);
}
.open.header-menu-touch > span:nth-child(2) {
	opacity: 0;
}


///////////////////////////////////////////////////////////////
// adaptive
///////////////////////////////////////////////////////////////
@media screen and (max-width: 750px) {
	.header-menu-touch { 
		display: flex; 
	}
	.header-menu { 
		display: none; 
		width: 100%;
	}
	.header-menu ul { 
		flex-direction: column; 
		margin: 0;
	}
	.header-menu a     { 
		transition-property: color; 
	}
}


