
$ffamily-header: Arimo-Bold;
$ffamily-content: Arimo-Regular;

$fsize-content: 18px; 
$fsize-h1:      29px;
$fsize-h2:      26px;
$fsize-h3:      22px;
$fsize-btn:     13px;

$color-lighter: #ffffff;
$color-light: #f4f4f4;
$color-accent: #209c89;

///////////////////////////////////////////////////////////////
// @mixin standart
///////////////////////////////////////////////////////////////
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin full-screen {
	width: 100%;
	height: 100vh;
}
@mixin full-size-block {
	width: 100%;
	height: 100%;
}
@mixin img-cover-center {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
@mixin img-cover-top {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
@mixin img-contain-center {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
@mixin img-contain-top {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
