
@import "_include";
@import "_footer";

@font-face { font-family: Arimo-Regular; src: url(../fonts/Arimo/Arimo-Regular.ttf); }
@font-face { font-family: Arimo-Bold;    src: url(../fonts/Arimo/Arimo-Bold.ttf); }

::-webkit-scrollbar       { width: 10px; height: 10px;}
::-webkit-scrollbar-thumb { background-color: transparentize($color-accent, 0.25); border-radius: 2px;}
::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1); }

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

body {
	margin: 0;
	padding: 0;
	font-size: $fsize-content;
	font-family: $ffamily-content;
	line-height: 1.75;
	background: $color-lighter;
}
*, :after, :before {
	box-sizing: border-box;
}
header, section {
	width: 80%;
	max-width: 1920px;
	margin: auto;
}
section {
	padding-top: 10px;
	padding-bottom: 15px;
}
h1 {
	font-family: $ffamily-content;
	font-size: $fsize-h1;
	font-weight: normal;
}
h2 {
	font-family: $ffamily-content;
	font-size: $fsize-h2;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: black;
}

.btn-standart {
	background: $color-accent;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $fsize-btn;
	font-family: inherit;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.4s;
	&:hover {
		opacity: 0.7;
	}
}
