<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Обучение программированию и компьютерной графике в Пензе</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Обучение программированию и компьютерной графике в Пензе">
	<meta name="keywords" content="Обучение программированию">
	<link rel="icon" type="image/png" href="img/favicon/favicon.png">

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/index.css">

	<!-- slick-slider -->
	<link rel="stylesheet" href="module/slick-slider/slick-slider.css">
	<link rel="stylesheet" href="module/slick-slider/custom.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
</head>
<body>

	<div id="yandex"></div>

	<header>
		<a href="index.html">
			<img src="img/logo.jpg" alt="Обучение программированию и компьютерной графике в Пензе" title="Обучение программированию и компьютерной графике в Пензе">
		</a>
		<h1>Обучение программированию и компьютерной графике в Пензе</h1>
		<div class="contact">
			<div class="tel">
				По всем вопросам <br> 
				<a href="tel:89004700003">89004700003</a>
			</div>
			<button class="btn-standart">Записаться на занятия</button>
		</div>
	</header>

	<div class="header-menu-container" id="menu">
		<nav class="header-menu">
			<ul>
				<li v-for="item in storeMenu" @click="clickMenu"><a :href="item.link">{{item.name}}</a></li>
			</ul>
		</nav>
		<button class="btn-standart">Записаться на занятия</button>
		<div class="header-menu-touch">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	
	<h2 id="courses-scroll">Наши курсы</h2>
	<section class="courses" id="courses">
		<div class="courses-container">
			<div class="item" v-for="(item, i) in storeCourses">
				<div class="img" :style="{ backgroundImage: 'url('+item.img +')' }"></div>
				<div class="text">{{item.text}}</div>
				<div class="buttons">
					<a :href="'courses.html?id='+(i+1)" class="btn-standart">Подробнее</a>
					<button class="btn-standart">Записаться на пробное бесплатное занятие</button>
				</div>
			</div>
		</div>
	</section>
	
	<h2 id="teachers-scroll">Преподаватели</h2>
	<section class="teachers" id="teachers">
		<div class="teachers-container">
			<div class="item" v-for="item in storeTeachers">
        		<div class="name">{{item.name}}</div>
				<div class="img" :style="{ backgroundImage: 'url('+item.img +')' }"></div>
				<div class="text">{{item.text}}</div>
			</div>
		</div>
		<div class="teachers-text">
			<div>Посмотрите на наших преподавателей в деле!</div>
			<button class="btn-standart">Жмите сюда, чтобы записаться на пробное бесплатное занятие!</button>
		</div>
	</section>
	
	<h2 id="steps-scroll">Как проходит обучение</h2>
	<section class="steps" id="steps">
		<div class="steps-container">
			<div class="item" v-for="item in storeSteps">
				<div class="img" :style="{ backgroundImage: 'url('+item.img +')' }"></div>
				<div class="text">{{item.text}}</div>
			</div>
		</div>
		<button class="btn-standart">Опробовать формат занятия</button>
	</section>
	
	<h2 id="map-scroll">Как нас найти</h2>
	<section class="map" id="map">
		<div class="map-container">
			<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad7e04349781f54c889a8a29951a35176ca626e2981c6aa73161244899f79f052&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
		</div>
	</section>
	
	<h2 id="reviews-scroll">Отзывы</h2>
	<section class="reviews" id="reviews">
		<div class="reviews-container">
        	<div class="item" v-for="item in storeReviews">
        		<div class="img" :style="{ backgroundImage: 'url('+item.img +')' }"></div>
        		<div class="wrapper">
					<div class="name">{{item.name}}</div>
					<div class="text">{{item.text}}</div>
					<a :href="item.link" target="_blank">Ссылка ВК</a>
        		</div>
			</div>
		</div>
	</section>

	<footer></footer>

	<script src="libs/jquery.js"></script>
	<script src="module/slick-slider/slick-slider.js"></script>
	<script src="js/main.js"></script>
	<script src="js/index.js"></script>
	<script src="module/menu-scroll/menu-scroll.js"></script>
</body>
</html>
